<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/cindysx89"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/cindy-xie-58397b10/"><i class="fab fa-linkedin"></i></a>
    <%= link_to contact_path do %>
      <i class="fas fa-envelope"></i>
    <% end %>
  </div>
</div>
