<div class="navbar">
  <%= link_to "Cindy Xie", root_path, id:"nav-name" %>
  <div class="nav-content">
    <%= link_to "Projects", projects_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</div>









