<div class="container">
  <div class="content-container">
      <%= image_tag "nyc.jpg", style:'height:500px; width:100%'%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit, vitae, exercitationem voluptate libero molestiae veniam optio quia magni tempore eius! In nobis quidem earum. Fugiat officia libero dolore, amet!</p>
  </div>
</div>
