<div class="container">
  <div class="content-container">
    <div class="flex-container">
      <div class="text-container">
        <h2>About Me</h2>
        <p>I'm Cindy Xie. I'm a full stack web developer, currently based in <%= image_tag "london.svg", style:'height: 50px; width: 50px'%> London.</p>
        <p>I am originally from New York City <%= image_tag "liberty.svg", style:'height: 50px; width: 50px'%> where I had always lived up until 2017</p>
        <p>The web has always been an intriguing place to me. I first taught myself html as a teenager by trying to modify my own xanga.com (RIP) page. In college, I learned to build websites with Flash. Shortly after that, I went and took a front-end web development course at General Assembly and developed my first website. After moving to London, I wanted to continue to learn more and completed a full stack web development immersive at Le Wagon. At Le Wagon, I learned Ruby on Rails, Javascript, AJAX and more. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus quae aut quibusdam veritatis voluptates necessitatibus reiciendis asperiores laudantium, nostrum pariatur, ducimus corporis enim. Laboriosam, porro, dolore! Iusto, aut, officia!</p>
      </div>
      <div class="slim-container">
        <div id="profile_photo">
          <%= image_tag "square_prof.jpg", style:'height:250px; width: 250px' %>
        </div>
      </div>

    </div>
   <!--    <%= image_tag "nyc.jpg", style:'height:100%; width:100%'%> -->
  </div>
</div>
