<div class="container" id="con-container">
  <div class="contact-container">
    <h2>Contact Me</h2>
    <p>To contact me regarding any opportunities or just to say hello, please use the form below:</p>
      <div id="formview">
         <form action="https://formcarry.com/s/ryOchAsM7" method="POST" accept-charset="UTF-8" >
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="lastName" placeholder="Last Name">
          <input type="text" name="anotherInput" placeholder="Message" id="message">
          <input type="hidden" name="_gotcha">
          <br>
          <input class="btn btn-primary" type="button" value=Submit id="submit-btn">
        </form>
      </div>
  </div>
</div>

