<div class="container">
  <div class="row">
    <h2>Contact Me</h2>
      <div id="formview">
        <form method="POST" action="https://formspree.io/cindyxie89@gmail.com">
          <input type="email" name="email" placeholder="Your email">
          <textarea name="message" placeholder="Your message"></textarea>
          <input type="text" name="_gotcha" style="display:none" />
          <button type="submit">Send</button>
        </form>
      </div>
  </div>

    <div class="social">
      <h3>Find me at</h3>
      <h4>LinkedIn</h4>
      <h4>GitHub</h4>
    </div>

</div>
