

  <div class="stars-container">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="title-container">
      <div class="title">
        <h1>Cindy Xie</h1>
        <h3>Web Developer</h3>
        <p>Scroll down to start space journey</p>
        <%= image_tag "spaceship.png", id:"spaceship" %>
      </div>
    </div>


  <%= image_tag "neptune.png", id:"neptune" %>





    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item" id="trigger-left"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>







