<div class="container">
  <div class="projects-container">
    <div class="cards" id="top-card">
      <%= image_tag "moor.png", id:"mooring" %>
      <div class="card-content">
      <p>As a final project for Le Wagon, I acted as lead developer on a team of 3 developers to build a web application in 10 days.</p>
      <p>This web application is geared towards London boat owners to book a mooring spot in Central London.</p>
      <p>Languages utilized:
      <ul>
        <li>Ruby on Rails</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>SCSS</li>
        <li>Google Map API</li>
        <li>Heroku</li>
        <li></li>
      </ul>
    </p>
    </div>
    </div>
    <div class="cards" id="second-card">
    <%= image_tag "undc.png", id:"undc" %>
    <div class="card-content">
    <p>After taking a part-time front-end web development course at General Assembly in 2014, I re-designed and deployed a brand new website for my employer. As part of the new design, my aim was to create a simple user friendly website that would be timeless. I knew most users who came to the website wanted to know 3 important pieces of information: office location, date of next Board of Directors meeting and how to contact the organization. I ensured that information was easy to find in order to help ensure a smooth user journey</p>
    <p>Languages utilized:
      <ul>
        <li>HTML 5</li>
        <li>CSS</li>
        <li>jQuery</li>
        <li>Google Map API</li>
      </ul>
    </p>
    </div>

    </div>
  </div>
</div>

