<div class="container">
  <div class="row">
  <div class="col-xs-12" id="projects-container">
    <div class="cards" id="top-card">
      <div class="card-image">
        <%= link_to image_tag("moor.png"), "http://www.moor.world", id:"mooring" %>
      </div>
      <div class="card-content">
      <h2>Moor.world</h2>
      <p>As a final project for Le Wagon, I was part of a team of 3 developers working to build a web application in 10 days.</p>
      <p>Moor.world is a web application aimed at helping London boat owners book a mooring spot in Central London.</p>
      <p>Skills utilized:
      <ul>
        <li>Ruby on Rails</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>SCSS</li>
        <li>Google Maps API</li>
        <li>Heroku</li>
        <li>PostgreSQL</li>
      </ul>
    </p>
    </div>
  </div>
    <div class="cards" id="second-card">
    <%= link_to image_tag("undc.png"), "http://www.undc.org", id:"undc" %>
    <div class="card-content">
    <h2>UNDC.org</h2>
    <p>After taking a part-time front-end web development course at General Assembly in 2014, I re-designed and deployed a brand new website for my employer.</p>
    <p>The goal of the re-design was to create a simple user friendly website that would be timeless. I re-designed the site to enable users to find key information like office location, date of next Board of Directors meeting and how to contact the organization easily.</p>
    <p>Skills utilized:
      <ul>
        <li>HTML 5</li>
        <li>CSS</li>
        <li>jQuery</li>
        <li>Google Maps API</li>
      </ul>
    </p>
    </div>

    </div>
  </div>
  </div>
  <%= render "shared/footer" %>
</div>

