// text

#first-text {
  left: 800px;
  top: 550px;
  height: 220px;
  width: 220px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 18px 5px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#second-text {
  left: 300px;
  top: 800px;
  height: 220px;
  width: 220px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 25px 5px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#third-text {
  left: 800px;
  top: 1000px;
  height: 250px;
  width: 400px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 20px 5px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#fourth-text {
  left: 500px;
  top: 1460px;
  height: 250px;
  width: 450px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 20px 5px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

.mobile-text {
  display: none;
  position: absolute;
  padding: 10px 10px;
  top: 20px;
  border-radius: 10px;
  height: 500px;
  background-color: #d9f3fc;
}

