// text

#first-text {
  left: 800px;
  top: 550px;
  height: 200px;
  width: 220px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#second-text {
  left: 300px;
  top: 800px;
  height: 200px;
  width: 200px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#third-text {
  left: 800px;
  top: 1000px;
  height: 250px;
  width: 400px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

#fourth-text {
  left: 500px;
  top: 1450px;
  height: 250px;
  width: 450px;
  background-color: #d9f3fc;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

@media only screen and (max-width: 600px) {
  #spaceship, #moon, #jupiter, #earth {
    display: none;
  }
  .title, #first-text, #second-text, #third-text, #fourth-text {
    display: none;
  }
}
