/* Main navbar */
.navbar {
  background: #dee1e5;
  opacity: 0.1;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Changa One', cursive;
}

// new comments

/* Navbar link */
.navbar-link {
  color: #616668;
  font-size: 24px;
  color: #48688c;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}
.navbar-link:hover {
  color: #da552f;
}
