body {
  margin: 0 0;
  font-family: 'Changa One', cursive;
  position: relative;
}

#con-container {
  height: 100vh;
  overflow-y: hidden;
}

.contact-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e8edef;
  margin: 0 auto;
}

h2, p {
  text-align: center;
}

input {
  height: 30px;
  width: 300px;
  display: block;
  font-size: 12px;
  margin: auto;
}

#message {
  height: 60px;
}

#submit-btn {
  height: 40px;
  display: block;
}


