body {
  margin: 0 0;
  font-family: 'Changa One', cursive;
  overflow-x: hidden;
}

input {
  height: 20px;
  width: 200px;
  display: block;
  font-size: 12px;
}

#message {
  height: 60px;
}

#submit-btn {
  height: 40px;
}


