.projects-container {
  width: 70%;
  margin: 0 auto;
}

.cards {
  background-color: yellow;
  border: 1px dotted black;
  display: flex;
}


#mooring {
  width: 600px;
  height: 470px;
}

#undc {
  width: 600px;
  height: 470px;
}

#top-card {
  padding: 30px 0;
}

#second-card {
  padding: 30px 0;
}
